<% include partials/header%>

<link rel='stylesheet' href='app.css'>
<h1>This is the Home page!</h1>
<img src="https://racycles.azureedge.net/assets/standard/49053/large/Cervelo_P3_Ultegra_15.jpg" alt="Cervelo_P3_Ultegra_15">

<% include partials/footer%>