<% include partials/header%>

<h1>This is the campgrounds page</h1>

<% campgrounds.forEach((campground) => { %>
  <div>
    <h4><%=campground.name%></h4>
    <img src="<%=campground.image%>" alt="<%=campground.name%>">
  </div>  

<%}) %>

<a href="/">Back to home</a>

<% include partials/footer%>